html, body{
	width: 99%;
	height:99%;
	padding: 1px;
	border:0px;
	margin:0px;
    font-family: 'Roboto', sans-serif;
}
#contenedor {
	padding: 0px;
	border:0px;
	margin:1px;
	position:relative;
	width: 100%;
    	height: 100%;
}
#map {
    border-style:solid;
    border-radius: 2px;
    border-color: #D6E284;
    margin:1px;
    }
#etiqueta{
	position: absolute; right: 5px; top: 5px;
	border-radius: 3px;
}
#controles {
    position: absolute; right: 00px; top: 0px;
	border-radius: 3px;
	}

#leyenda {
	position: absolute; right: 5px; top: 80px;
	display: none;
	border-radius: 3px;
    box-shadow: 1px 1px 11px #777777;
}	
#cruz{
    position: absolute; right: 2px; top: 2px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.parametro, .titulo, #leyenda, #controles-ambito, #controles-etapa, #controles select{
    font-family: 'Roboto', sans-serif;
    color: #FFF
}
.parametro{
    font-size: 14px;
	border: 0px; padding: 0px, 20px, 0px, 0px; margin: 5px;
	line-height: normal;
   
}
.titulo{
	font-size: 16px;
	border: 0px; padding: 0px; margin: 0px;
	line-height: normal;
    text-align:center;
    font-weight: bold;
}
#leyenda, #controles-ambito, #controles-etapa, #controles select{
	width: 250px;
	/*opacity: 0.9;*/
	border-width:1px;  
    border-style:solid;
	border-color: #D6E284;
	padding:2px 10px;
    background: #58B14C;
}
#controles-ambito select, #controles-etapa select {
   border: 0;
   background: transparent;
   font-size: 18px;
   font-weight: bold;  
   padding: 2px 10px;
   width: 278px;
   *width: 250px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#controles-ambito, #controles-etapa {
   overflow:hidden;
    width:250px;
   box-shadow: 1px 1px 11px #777777;
   background: #58B14C url("https://iot.educa.madrid.org/javascript/comparte/imagenes/flecha.png") no-repeat scroll 233px center;
}
@media (max-width:900px) {
	#contenedor, .right {
    		width:99%;/*The width is 100%, when the viewport is 800px or smaller*/
	}
	#contenedor {
		height:99%;
	}
}
